*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  /* Весь макет можно верстать в абсолютных единицах измерения. */
  width: 1140px;
  /*Можно лучше*/
  height: 534px;
}

/* Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера. */
.search-form {
  display: flex;
  left: 0;
  /*Надо ли? */
  justify-content: space-between;
  position: relative;
}

/* Установить вертикальный размер для .content__list и добавить скролл при переполнении. */
.content__list {
  height: 298px;
  /*Можно лучше*/
  overflow: auto;
  position: relative;
}

/* Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками. */
.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: space-between;
}

.result__video-container {
  width: 711px;
  /*Можно лучше*/
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

/* Расположить видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы. Потребуется указать object-fit. */
.result__video {
  object-fit: cover;
  overflow: auto;
  width: inherit;
  height: inherit;
}

/* Создать вертикальные отступы между элементами .content__list-item (у всех, кроме последнего). */

/* В макете от последнего тоже отступ */
.content__list-item {
  margin-bottom: 30px;
}

/* li.content__list-item:not(:last-of-type){
  margin-bottom: 30px;
} */


/* Расположить элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси. */
.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  background-color: aquamarine;
  width: 194px;
  height: 103px;
  object-fit: cover;
}

/* Сделать так, чтобы .content__video-card-description-container занимал всё доступное пространство, не занятое картинкой. */
.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.title {
  color: #FFFFFF;
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__card-link {
  color: white;
  text-decoration: none;
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

fieldset{
  border: none;
}

.search-form__checkbox-list{
  display: flex;
  justify-content: space-between;
  width: 212px;
  height: 22px;
}

/* Вам нужно расставить элементы внутри .search-form__label в линию. И при этом подогнать ширину контейнера под размер внутренних элементов. Для этого пригодится правило width: fit-content;. */
.search-form__label{
  display: flex;
  width: fit-content;/*Зачем это тут?*/
  cursor: pointer;
  gap: 1.5px;
}

/* Текстовому полю нужно задать свойство appearance: none;. Так в разных браузерах будут нужные вам стили. Это трюк. */
input[type="text"]{
  appearance: none;
  /* border: none; */
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: white 1px solid;
}


button {
  cursor: pointer;
  font-family: Fira Sans Condensed;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
height: 34px;
border: 1px white solid;
background-color: transparent;
color: white;
}
.search-form__submit-button{
  
  position:relative;
  bottom: 0px;/*Не работает*/
  right: 0;

  margin-top: 20px;
  /* background-color: aquamarine; */
  width: 194px;
}
.more-button{
  /* background-color: blueviolet; */
  width: 100%;
  margin-bottom: 1px;/*Почему так?*/
}

/* .search-form__textfield:focus{
  border: none;
}
input[type="text"]:focus{
  border: none;
}
.search-form__label:has(:focus-visible){
  border: inherit;
} */
